.installation {

    margin: 8%;
    min-height: 15%;

}

.action {
    margin: 6%;

}

button {
    font-family: monospace;
    font-size: 16px;
    border-radius: 4px;
    color: black;
    background: linear-gradient(rgb(197 197 197), rgb(189 189 189 / 49%));
    border: none;
    box-shadow: 8px 14px 25px 1px #ede8d2;
}

.disconnected {
    background: linear-gradient(rgb(247 152 152), rgb(107 54 54 / 58%));
}

#title {
    margin-top: 26px;
    text-shadow: 15px 9px 40px black;
    color: #bdbdbd;
    text-align: center;
    flex: 3 1 0%;
    font-size: 20px;
}

#clear {
    align-content: center;
}

#main-carousel {
    background-color: #ede8d2;
}
