#roller {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    left: 0;
}

#roller > div {
    margin: 30px;
    padding: 30px;
    min-width: 30%;
    box-shadow: 0px 0px 6px 0px;
}

#roller.transition-right {
    transition: 300ms;
    left: -100px;
}

#roller.transition-left {
    transition: 300ms;
    left: 100px;
}

.faded {
    opacity: 0.3;
}